{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block nav %}
<span class="navbar-text">Регистрация</span>
{% endblock %}

{% block body %}
<p />
{% if messages %}
<ul>
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endfor %}
</ul>
{% endif %}
<p />
<form method="POST">
  {% csrf_token %}
  <div class="form-group" method="POST">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="Имя" name="name">
  </div>
  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="login" value="{{ username }}" placeholder="Логин">
  <p />
  <input type="email" placeholder="Email" name="email">
  <p />
  <input type="password" placeholder="Пароль" name="password1">
  <p />
  <input type="password" placeholder="Подтверлите пароль" name="password2">
  <p />
  <input type="submit" value="Регистрация">
</form>
<p></p>
<p><a href="/login">Вход</a></p>
{% endblock %}
