{% extends "base.html" %}

{% block title %}Предметы | {{ user }}{% endblock %}

{% block nav %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Вы вошли, как {{ user }} ({{ username }})</a>
  </li>
</ul>
<a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Выйти</a>
{% endblock %}

{% block body %}
<h1>Настройка предметов</h1>
<p></p>
{% if not is_first %}
<p>Вы не настраивали предметы</p>
<a href="firstset?step=0"><button type="button" class="btn btn-primary btn-lg btn-block">Первичная Настройка</button></a>
{% else %}
<form method="post" name="steptwo">
  {% csrf_token %}
  {% for s, o in subjects.items %}
  {% if o %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">{{ s }}</span>
    </div>
    <input name="{{ s }}" type="text" class="form-control" placeholder="от 1 до 5" aria-label="Имя пользователя" aria-describedby="basic-addon1">
  </div>
  {% endif %}
  {% endfor %}
  <div class="input-group-append">
    <input name="stepone" type="submit" class="btn btn-outline-secondary" type="button" value="Сохранить"></input>
  </div>
  <input type="hidden" name="step" value="1"/>
</form>

{% endif %}
<p></p>
<a href="/authed/profile/">
  < назад</a> {% endblock %}
